* {
  margin: 0;
}

.App {
  text-align: center;
}

.topbar {
  background: grey;
  color: white;
  float: left;
  width: 100vw;
  height: 5vh;
  padding: 20px 0;
  text-align: center;
}

.topbar-logo {
  float: left;
  font-size: 20px;
  margin-left: 10px;
}

.topbar-logo-text {
  display: inline;
}

.top-bar-link {
  margin: 5px;
  color: white;
  display: inline;
}
