* {
  margin: 0;
}

p {
  margin: 10px;
}

.App {
  text-align: center;
}

.topbar {
  background: #303030;
  color: white;
  float: left;
  width: 100vw;
  height: 5vh;
  padding: 20px 0;
  text-align: left;
}

.topbar-logo {
  float: left;
  font-size: 20px;
  margin-left: 1vw;
}

.topbar-logo-text {
  display: inline;
}

.top-bar-link {
  margin-left: 15vw;
  color: white;
  display: inline;
}

.spot-card {
  margin: 10px;
}
